div {
    box-sizing: border-box;
}
.row {
    border: 10px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.row:after {

}
.element {
    border: 10px solid green;
    padding: 10px;
    margin: 10px;
    width: 15%;
    float:left
}
.image {
    border: 10px solid blue;
    padding: 10px;
    margin: 10px;
}
.text {
    border: 10px solid red;
    padding: 10px;
    margin: 10px;
}

@media (max-width: 380px) {
    body {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        grid-column-gap: 10px;
        grid-row-gap: 5px;

    }

}
