body {
    margin: 0 auto;
    font-size: 16px;
    display: flex; /* Indicamos que será un contenedor Flex */
    flex-direction: row; /* Dirección del contenedor: horizontal (filas) */
    max-width: 1024px; /* Anchura máxima del body */

}

article {
    background-color: blue;
    padding: 1em;
    font-size: 2em; /* Duplicamos tamaño fuente vs aside */
    flex-basis: 70%; /* Tamaño de la celda del contenedor */
}

aside {
    background-color: red;
    padding: 1em;
    font-size: 1em;
    flex-basis: 30%; /* Tamaño de la celda del contenedor */
    align-self: flex-start; /* Alinear al incio de la celda en base al eje vertical  */
}

